<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <!-- Xacro arguments -->
    <xacro:macro name="robot1_magnetic" params="prefix">
    <!-- Insert Magnetic Plugin -->
    <gazebo>
        <plugin name='ignition::gazebo::systems::MagnetPlugin' filename='MagnetPlugin'>        
            <source>
                <link_name>odom1</link_name>
                <collision_name>odom1_fixed_joint_lump__LINK_1_collision_collision</collision_name>
            </source> 

            <target>
                <model_name>conceitual_flare</model_name>
                <link_name>link</link_name>
                <collision_name>collision</collision_name>
            </target>
            
            <reference>
                <joint_name>J1</joint_name>
                <min_force>-1000 -1000 -1000</min_force>
                <max_force>1000 1000 1000</max_force>
                <disconnect>true</disconnect>
            </reference>

            <switch_topic>/tail/switch</switch_topic>
            <connection_topic>/tail/connection</connection_topic>
            <status_topic>/tail/status</status_topic> 
        </plugin>

        <plugin name='ignition::gazebo::systems::MagnetPlugin' filename='MagnetPlugin'>        
            <source>
                <link_name>${prefix}LINK_7</link_name>
                <collision_name>robot1/LINK_7_fixed_joint_lump__LINK_7_collision_collision</collision_name>
            </source> 

            <target>
                <model_name>conceitual_flare</model_name>
                <link_name>link</link_name>
                <collision_name>collision</collision_name>
            </target>

            <reference>
                <joint_name>J5</joint_name>
                <min_force>-1000 -1000 -1000</min_force>
                <max_force>1000 1000 1000</max_force>
                <disconnect>true</disconnect>
            </reference>

            <switch_topic>/head/switch</switch_topic>
            <connection_topic>/head/connection</connection_topic>
            <status_topic>/head/status</status_topic> 
        </plugin>
    
    </gazebo>

    <!-- Provide contact sensors -->
    <gazebo reference="odom1">
        <sensor name='sensor_contact' type='contact'>
        <contact>
            <collision>odom1_fixed_joint_lump__LINK_1_collision_collision</collision>
            <topic>/link_1_contacts</topic>
        </contact>
        </sensor>
    </gazebo>

    <gazebo reference="${prefix}LINK_7">
        <sensor name='sensor_contact' type='contact'>
        <contact>
            <collision>robot1/LINK_7_fixed_joint_lump__LINK_7_collision_collision</collision>
            <topic>/link_7_contacts</topic>
        </contact>
        </sensor>
    </gazebo>

    <!-- Provide joint wrench (force -torque) sensor for each joint -->
    <gazebo reference="J1">
        <sensor name="force_torque_sensor" type="force_torque">
            <update_rate>50</update_rate>
            <always_on>true</always_on>
            <visualize>true</visualize>
            <topic>J1/force_torque</topic>
            <force_torque>
                <frame>sensor</frame>
                <measure_direction>parent_to_child</measure_direction>
            </force_torque>
        </sensor>
    </gazebo>

    <gazebo reference="J2">
        <sensor name="force_torque_sensor" type="force_torque">
            <update_rate>50</update_rate>
            <always_on>true</always_on>
            <visualize>true</visualize>
            <topic>J2/force_torque</topic>
            <force_torque>
                <frame>sensor</frame>
                <measure_direction>parent_to_child</measure_direction>
            </force_torque>
        </sensor>
    </gazebo>

    <gazebo reference="J3">
        <sensor name="force_torque_sensor" type="force_torque">
            <update_rate>50</update_rate>
            <always_on>true</always_on>
            <visualize>true</visualize>
            <topic>J3/force_torque</topic>
            <force_torque>
                <frame>sensor</frame>
                <measure_direction>parent_to_child</measure_direction>
            </force_torque>
        </sensor>
    </gazebo>

    <gazebo reference="J4">
        <sensor name="force_torque_sensor" type="force_torque">
            <update_rate>50</update_rate>
            <always_on>true</always_on>
            <visualize>true</visualize>
            <topic>J4/force_torque</topic>
            <force_torque>
                <frame>sensor</frame>
                <measure_direction>parent_to_child</measure_direction>
            </force_torque>
        </sensor>
    </gazebo>

    <gazebo reference="J5">
        <sensor name="force_torque_sensor" type="force_torque">
            <update_rate>50</update_rate>
            <always_on>true</always_on>
            <visualize>true</visualize>
            <topic>J5/force_torque</topic>
            <force_torque>
                <frame>sensor</frame>
                <measure_direction>parent_to_child</measure_direction>
            </force_torque>
        </sensor>
    </gazebo>

    <gazebo reference="J6">
        <sensor name="force_torque_sensor" type="force_torque">
            <update_rate>50</update_rate>
            <always_on>true</always_on>
            <visualize>true</visualize>
            <topic>J6/force_torque</topic>
            <force_torque>
                <frame>sensor</frame>
                <measure_direction>parent_to_child</measure_direction>
            </force_torque>
        </sensor>
    </gazebo>
    </xacro:macro>
</robot>
