<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">


    <xacro:macro name="robot1_sensors" params="prefix">
    <xacro:include filename="$(find escalador_description_serial_1)/urdf/distance_sensor.xacro" /> 
    
    <xacro:distance_sensor parent="${prefix}LINK_7" name="link_7_laser1">
        <origin xyz="-0.0635 0 0.03" rpy="0 ${pi/2} 0"/>
    </xacro:distance_sensor>

    <xacro:distance_sensor parent="${prefix}LINK_7" name="link_7_laser2">
        <origin xyz="0 0.03 0.03" rpy="0 ${pi/2} 0"/>
    </xacro:distance_sensor>

    <xacro:distance_sensor parent="${prefix}LINK_7" name="link_7_laser3">
        <origin xyz="0 -0.03 0.03" rpy="0 ${pi/2} 0"/>
    </xacro:distance_sensor>

    <xacro:distance_sensor parent="${prefix}LINK_1" name="link_1_laser1">
        <origin xyz="0.0635 0 0.016" rpy="0 ${-pi/2} 0"/>
    </xacro:distance_sensor>

    <xacro:distance_sensor parent="${prefix}LINK_1" name="link_1_laser2">
        <origin xyz="0 0.03 0.016" rpy="0 ${-pi/2} 0"/>
    </xacro:distance_sensor>

    <xacro:distance_sensor parent="${prefix}LINK_1" name="link_1_laser3">
        <origin xyz="0 -0.03 0.016" rpy="0 ${-pi/2} 0"/>
    </xacro:distance_sensor>
    </xacro:macro>
</robot>
