<?xml version="1.0"?>
<!-- Revolute-Revolute Manipulator -->
<!--
Copied and modified from ROS1 example -
https://github.com/ros-simulation/gazebo_ros_demos/blob/kinetic-devel/rrbot_description/urdf/rrbot.xacro
-->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot1_serial">
  <xacro:arg name="prefix" default="" />

  <xacro:include filename="$(find escalador_description_serial_1)/urdf/escalador_serial_1_description.urdf.xacro" />


  <xacro:include filename="$(find escalador_description_serial_1)/urdf/escalador_serial_1_control.xacro" />

  <link name="odom1"/>

  <xacro:robot1 parent="odom1" prefix="$(arg prefix)">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:robot1>

  <xacro:robot1_control
    name="serial_escalador_1" prefix="$(arg prefix)" />

</robot>