<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="robot2_ros2_control" params="name prefix">

    <ros2_control name="${name}" type="system">
      <hardware>
         <plugin>dynamixel_hardware/DynamixelHardware</plugin>
         <param name="usb_port">/dev/ttyUSB0</param>
         <param name="baud_rate">1000000</param> 
         <param name="use_dummy">true</param>
         <param name="IOInputs">16</param>
         <param name="IOutputs">16</param>
      </hardware>
      <joint name="J1">
        <param name="id">01</param>
        <param name="offset">2.39</param>
        <param name="Profile_Velocity">20</param>
        <param name="Position_P_Gain">1200</param>
        <param name="Position_I_Gain">2100</param>
        <param name="Position_D_Gain">8000</param>
        <param name="Feedforward_1st_Gain">0</param>
        <param name="Feedforward_2nd_Gain">0</param>

        <command_interface name="position"/>
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="J2">
        <param name="id">02</param>
        <param name="offset">-2.37</param>
        <param name="Profile_Velocity">20</param>
        <param name="Position_P_Gain">1200</param>
        <param name="Position_I_Gain">2100</param>
        <param name="Position_D_Gain">8000</param>
        <param name="Feedforward_1st_Gain">0</param>
        <param name="Feedforward_2nd_Gain">0</param>

        <command_interface name="position"/>
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="J3">
        <param name="id">03</param>
        <param name="offset">2.32</param>
        <param name="Profile_Velocity">20</param>
        <param name="Position_P_Gain">1200</param>
        <param name="Position_I_Gain">2100</param>
        <param name="Position_D_Gain">8000</param>
        <param name="Feedforward_1st_Gain">0</param>
        <param name="Feedforward_2nd_Gain">0</param>
    
        <command_interface name="position"/>
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="J4">
        <param name="id">04</param>
        <param name="offset">-2.37</param> 
        <param name="Profile_Velocity">20</param>
        <param name="Position_P_Gain">1200</param>
        <param name="Position_I_Gain">2100</param>
        <param name="Position_D_Gain">8000</param>
        <param name="Feedforward_1st_Gain">0</param>
        <param name="Feedforward_2nd_Gain">0</param>

        <command_interface name="position"/>
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="J5">
        <param name="id">05</param>
        <param name="offset">-1.56</param>
        <param name="Profile_Velocity">20</param>
        <param name="Position_P_Gain">1200</param>
        <param name="Position_I_Gain">2100</param>
        <param name="Position_D_Gain">8000</param>
        <param name="Feedforward_1st_Gain">0</param>
        <param name="Feedforward_2nd_Gain">0</param>

        <command_interface name="position"/>  
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="J6">
        <param name="id">06</param>
        <param name="offset">0.748</param>
        <param name="Profile_Velocity">20</param>
        <param name="Position_P_Gain">1200</param>
        <param name="Position_I_Gain">2100</param>
        <param name="Position_D_Gain">8000</param>
        <param name="Feedforward_1st_Gain">0</param>
        <param name="Feedforward_2nd_Gain">0</param>

        <command_interface name="position"/>
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name ="BASE1">
        <param name="offset">1.52</param>      
        <param name="id">10</param> 
        <command_interface name="position"/>
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

      <joint name ="BASE2">
        <param name="offset">-0.79</param>
        <param name="id">20</param> 
        <command_interface name="position"/>
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <gpio name="TorqueEnable">
        <command_interface name="TE_1"/>
        <state_interface name="TE_1">
          <param name="initial_value">0.0</param>
        </state_interface>
        <command_interface name="TE_2"/>
        <state_interface name="TE_2">
          <param name="initial_value">0.0</param>
        </state_interface>
        <command_interface name="TE_3"/>
        <state_interface name="TE_3">
          <param name="initial_value">0.0</param>
        </state_interface>
        <command_interface name="TE_4"/>
        <state_interface name="TE_4">
          <param name="initial_value">0.0</param>
        </state_interface>
        <command_interface name="TE_5"/>
        <state_interface name="TE_5">
          <param name="initial_value">0.0</param>
        </state_interface>
        <command_interface name="TE_6"/>
        <state_interface name="TE_6">
          <param name="initial_value">0.0</param>
        </state_interface>
        <command_interface name="TE_7"/>
        <state_interface name="TE_7">
          <param name="initial_value">0.0</param>
        </state_interface>
        <command_interface name="TE_8"/>
        <state_interface name="TE_8">
          <param name="initial_value">0.0</param>
        </state_interface>
      </gpio>
      <gpio name="Reboot">
        <command_interface name="M1"/>
        <state_interface name="M1">
          <param name="initial_value">0.0</param>
        </state_interface>
        <command_interface name="M2"/>
        <state_interface name="M2">
          <param name="initial_value">0.0</param>
        </state_interface>
        <command_interface name="M3"/>
        <state_interface name="M3">
          <param name="initial_value">0.0</param>
        </state_interface>
        <command_interface name="M4"/>
        <state_interface name="M4">
          <param name="initial_value">0.0</param>
        </state_interface>
        <command_interface name="M5"/>
        <state_interface name="M5">
          <param name="initial_value">0.0</param>
        </state_interface>
        <command_interface name="M6"/>
        <state_interface name="M6">
          <param name="initial_value">0.0</param>
        </state_interface>
        <command_interface name="M7"/>
        <state_interface name="M7">
          <param name="initial_value">0.0</param>
        </state_interface>
        <command_interface name="M8"/>
        <state_interface name="M8">
          <param name="initial_value">0.0</param>
        </state_interface>
      </gpio>
      <gpio name="Status">
        <command_interface name="M1"/>
        <state_interface name="M1">
          <param name="initial_value">0.0</param>
        </state_interface>
        <command_interface name="M2"/>
        <state_interface name="M2">
          <param name="initial_value">0.0</param>
        </state_interface>
        <command_interface name="M3"/>
        <state_interface name="M3">
          <param name="initial_value">0.0</param>
        </state_interface>
        <command_interface name="M4"/>
        <state_interface name="M4">
          <param name="initial_value">0.0</param>
        </state_interface>
        <command_interface name="M5"/>
        <state_interface name="M5">
          <param name="initial_value">0.0</param>
        </state_interface>
        <command_interface name="M6"/>
        <state_interface name="M6">
          <param name="initial_value">0.0</param>
        </state_interface>
        <command_interface name="M7"/>
        <state_interface name="M7">
          <param name="initial_value">0.0</param>
        </state_interface>
        <command_interface name="M8"/>
        <state_interface name="M8">
          <param name="initial_value">0.0</param>
        </state_interface>
      </gpio>
    </ros2_control>

  </xacro:macro>

</robot>