<?xml version="1.0"?>
<!-- Revolute-Revolute Manipulator -->
<!--
Copied and modified from ROS1 example -
https://github.com/ros-simulation/gazebo_ros_demos/blob/kinetic-devel/rrbot_description/urdf/rrbot.xacro
-->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot2_serial">
  <xacro:arg name="prefix" default="" />

  <xacro:include filename="$(find escalador_description_serial_2)/urdf/escalador_serial_2_description.urdf.xacro" />
  <xacro:include filename="$(find escalador_description_serial_2)/urdf/escalador_serial_2_ros2_control.xacro" />

  <link name="odom2"/>

  <xacro:robot2 parent="odom2" prefix="$(arg prefix)">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:robot2>

  <xacro:robot2_ros2_control name ="robot2ctr" prefix="$(arg prefix)" />
</robot>
