<?xml version="1.0"?>
<model>
  <name>magnets</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>

  <author>
    <name>Alan Kunz Cechinel</name>
    <email>alan.cechinel@sc.senai.br</email>
  </author>

  <description>
  Example of simple table with 4 magnets
  </description>
</model>